$white:#FFFFFF;
$alizarin:#E74C3C;
$turquoise:#1abc9c;
$midnightblue:#2C3E50;
$intro_slide_gradient:repeating-radial-gradient(ellipse farthest-corner, #d6d6d6 10%, #061931 20%, rgba(39, 56, 82, 0.88) 30%);
$white_trans_50:rgba(255,255,255,0.5);
$bg-lefttop:repeating-linear-gradient(top left, $midnightblue 5%, #000000 10%, white 13%);
$bg-rightbottom:linear-gradient(to left top, #4892E2 5%, #1A2846 30%, #17C3EE 5%, #0D90CE 50%);
$black:#000000;